<!DOCTYPE html>
<html>
<head>
  <title>MockReddit</title>
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container"
	<!-->
		<ul class="nav nav-tabs">
			<li><%=link_to"MockReddit", root_path %></li>
			<li><%=link_to "About", about_path%></li>
<!--  the code below is used to show users that they are signed in -->
		<div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> or
             <%= link_to "Sign Up", new_user_registration_path %>
           <% end %>
         </div>
       	</ul>

<!--  the code above is used to show users that they are signed in -->




		<!--  the code below is used to disply the flash buttons-->

       <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>

           <!--  the code above is used to disply the flash buttons-->
         </div>
       <% end %>


	<%= yield %>
	</div>
	
</body>
</html>
